@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-primary: #16171B;
  --color-accent: #E28F11;
  --color-accent-dark: #AA580D;
  --color-secondary: #8F91A1;
  --color-secondary-50: #AD5707;
  --color-gray: #E8EBF4;
  --color-gray-100: #C0C1D1;
  --color-gray-300: #DADBE8;
  --color-white-opacity: #FFFFFF29;
  --color-pink: #DE3A6B;
  --color-secondary-100: #FFAD32;

  --font-poppins: var(--font-poppins);
  --font-kaisei-tokumin: var(--font-kaisei-tokumin);
}

html, body, #__next {
  height: 100%;
  font-family: var(--font-poppins), sans-serif;

}

body {
  background: linear-gradient(40deg, #AA580D 0%, #E28F11 47%, #AA580D 100%);

}



